<!DOCTYPE html>
<html lang="en">
<head>
<!-- Import the component -->
<!-- Use it like any other HTML element -->
   <!-- <link rel="stylesheet" href="mine.css"> -->
</head>
<body>
  <style>
    .nav {
      background-color: rgba(18, 46, 82, 0.411); 
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .nav li {
      display: inline-block;
      font-size: 20px;
      padding: 10px;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    </style>
        </head>
        <body>
          <ul class="nav">
            <li><a href="/">DentalGrammetry</a></li>
            <li><a href="web_help">Manual</a></li>
            <li><a href="result">3D Model</a></li>
            <li><a href="result2">Result</a></li>  
          </ul>   

        

<!-- Import the component -->


  <div id="annotation">
    <h3>
        <ol>
            <ol>
              Disparity = 0.15637 +- 0.28564
            </ol>
        </ol>
    </h3>
        
</div>
  <img src="../static/2.gif" class="center"width=1500px; height= 800px;>      
</img>  

</body>
</html>