<!DOCTYPE html>
<html>
<head>
 <title>DentaiGrammetry</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <style>
    .nav {
      background-color: rgba(18, 46, 82, 0.411); 
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .nav li {
      display: inline-block;
      font-size: 20px;
      padding: 10px;
    }
    </style>
        </head>
        <body>
          <ul class="nav">
            <li><a href="/">DentalGrammetry</a></li>
            <li><a href="web_help">Manual</a></li>
            <li><a href="result">3D Model</a></li>
            <li><a href="result2">Result</a></li>  
          </ul>  
<div id="wrapper">
            <div id="page-wrapper">
                <div class="row">
                    <div class="container">
                        <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">Select file(s) to upload</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding: 8px;" class="text-center">File to upload  png, jpg, jpeg</p>
                                    </div>
                                    <div class="row" style="padding: 10px 15px 9px;">
                                        <form method="post" action="/" enctype="multipart/form-data">
                                            <div class="form-group"> 
                                                <div class="row" style="margin-bottom: 20px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2"> 
                                                        <input type="file" name="image[]" multiple="true" autocomplete="off" required> 
                                                    </div>
                                                </div>

                                                <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                                                   
                                                    <label for="tooth">CompareTooth</label>
                        
                                                    <select name="tooth" id="tooth" required>
                                                    
                                                        <option value="Tooth(46)" required>Tooth(46)</option>
                                                            
                                                        <option value="Tooth(16)" required>Tooth(16)</option>
                                                        
                                                    </select>
                                                <div>
                
                                                    <button type="submit" class="btn btn-primary">Upload image</button>
  
                                                </div>
                

            </div>                                                 
                                            </div>                                                                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
</body>
</html>